<%- include('../partials/layout-start') %>
<div class="auth-page">
  <div class="card auth-card">
    <h1>بازنشانی رمز</h1>
    <% if (typeof error !== 'undefined' && error) { %><div class="alert alert-error"><%= error %></div><% } %>
    <form method="post">
      <%- include('../partials/csrf-field') %>
      <input type="hidden" name="token" value="<%= token %>" />
      <div class="form-group"><label>رمز جدید</label><input class="form-control" type="password" name="password" required minlength="8" /></div>
      <div class="form-group"><label>تکرار</label><input class="form-control" type="password" name="passwordConfirm" required /></div>
      <button class="btn btn-primary" style="width:100%">تغییر رمز</button>
    </form>
  </div>
</div>
<%- include('../partials/layout-end') %>
